.custom-text {
  font-size: 12px;
}

.custom-width {
  width: var(--customWidth);
}

.custom-bar-color {
  background-color: var(--customBarColor);
}
.custom-text-color {
  color: var(--customBarColor);
}
