<div
  class="p-4 ml-2 mr-2 border-b border-table-border grid items-center grid-cols-5 gap-1 transition duration-200 ease-in-out transform hover:bg-table-border"
>
  <div class="flex items-center gap-4 col-span-2">
    <div class="relative inline-block">
      <img class="rounded-full" [src]="singleUser['picture']" alt="Image" />
      <div
        class="absolute bottom-0 left-6 w-3 h-3 rounded-full border-2 border-white"
        [ngClass]="singleUser['isActive'] ? 'bg-green-500' : 'bg-blue-500'"
      ></div>
    </div>
    <div>
      <p class="font-bold">{{ singleUser["name"] }}</p>
      <p class="custom-text">{{ singleUser["country"] }}</p>
    </div>
  </div>
  <div class="w-24 h-1 pl-1 flex justify-start items-center gap-2 col-span-2">
    <div class="h-1 custom-bar-color rounded-md custom-width"></div>
    <p class="custom-text text-custom-card font-bold">
      {{ singleUser.progress }}%
    </p>
  </div>
  <div class="col-span-1">
    <button
      class="w-20 h-8 text-center rounded-sm bg-custom-card-text text-black transition duration-200 ease-in-out transform hover:bg-custom-card hover:text-white"
    >
      More
    </button>
  </div>
</div>
