<div class="w-screen fixed top-0 h-16 bg-white flex items-center justify-start">
  <div class="flex ml-24 lg:ml-28">
    <mat-icon
      svgIcon="search"
      aria-hidden="false"
      class="hover:text-custom-hover text-gray-500"
    ></mat-icon>
    <p class="text-gray-500 ml-4">Search</p>
  </div>
  <div class="flex flex-row w-full lg:justify-end gap-3 ml-4 lg:gap-8 lg:mr-4">
    <p>ENG</p>
    <mat-icon
      svgIcon="message"
      aria-hidden="false"
      class="hover:text-custom-hover text-gray-500"
    ></mat-icon>
    <mat-icon
      svgIcon="bell"
      aria-hidden="false"
      class="hover:text-custom-hover text-gray-500"
    ></mat-icon>
    <p>{{ userName() }}</p>
  </div>
</div>
