<div
  class="fixed bg-white left-0 min-h-screen flex flex-col items-center gap-8 w-auto"
>
  <div class="w-16 bg-custom-card h-16 flex justify-center items-center">
    <mat-icon
      svgIcon="nav"
      aria-hidden="false"
      class="text-white hover:text-black cursor-pointer"
    ></mat-icon>
  </div>
  <div class="w-16 h-16 flex justify-center items-center">
    <mat-icon
      svgIcon="box"
      aria-hidden="false"
      class="hover:text-custom-hover cursor-pointer"
    ></mat-icon>
  </div>
  <div class="w-16 h-16 flex justify-center items-center">
    <mat-icon
      svgIcon="graph"
      aria-hidden="false"
      class="hover:text-custom-hover cursor-pointer"
    ></mat-icon>
  </div>
  <div class="w-16 h-16 flex justify-center items-center">
    <mat-icon
      svgIcon="plus"
      aria-hidden="false"
      class="hover:text-custom-hover cursor-pointer"
    ></mat-icon>
  </div>
  <div class="w-16 h-16 flex justify-center items-center">
    <mat-icon
      svgIcon="tick"
      aria-hidden="false"
      class="hover:text-custom-hover cursor-pointer"
    ></mat-icon>
  </div>
</div>
